header{
    width: 1100px;
    margin: 0 auto;
   
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header nav ul {
    display: flex;
    list-style: none;
}